<div>
  Copyright &#169; <span id="year"></span> James A. Baroi. All rights reserved.
</div>
<div>
  Data source: 
  <a href="https://ciaaw.org/atomic-weights.htm" target="_blank">ciaaw.org</a>.
</div>